<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.69497537086-q9peoqc9d892p0ps5jv95fmut3h7v9dh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb515370529987552</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>it.matteovisotto.aptracker.applink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aptracker</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>515370529987552</string>
	<key>FacebookClientToken</key>
	<string>5e408dc25d0743a8eb0e4670bf87db4b</string>
	<key>FacebookDisplayName</key>
	<string>APTracker</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
